    <div class="new_user">
      <h1>Sign Up for Susah.my</h1>
      <form method="post" action="/users">
        <p><input type="text" name="email" value="" placeholder="Email"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>
			<p><input class="myButton" type="submit" value="Sign Up"></p>
			<form method="post" action="/users/logout">
		<p><input class="myButton" type="submit" value="Log Out"></p>
	</form>
    </div>

