<h1> Display popular products </h1>
	<table>
		<% @popular_product.each do |popular| %>
			<tr>
				<td>
					<p>Name: <%= popular.product.name %></p>
					<p>Description: <%= popular.product.description %></p>
					<p>Price: <%= popular.product.price %></p>
					<p>Favourite by: <%= popular.user.email %></p>
					=============================================
				</td>
			</tr>
			<% end %>
	</table>