	  <title>Login Form</title>
	    <div class="login">
	      <h1 id="login_title">Login to Susah.my</h1>
	      <form id method="post" action="/login">
	        <p><input id="login_box" type="text" name="email" value="" placeholder="Username or Email"></p>
	        <p><input id="login_box" type="password" name="password" value="" placeholder="Password"></p>
	        <p class="submit"><input class="myButton" type="submit" name="commit" value="Login"></p>
	      </form>
	      <form method="get" action="/users/new">
	     	 <p><input class="myButton" type="submit" value="Sign Up"></p>
	     </form>
	    </div>