<h1 id="login_title">Please enter details for new product</h1>
	<form method="post" action="/product">
    <p>Name: <input type="text" name="name"></p>
    <p>Description: <textarea rows='4' cols='50' name="description"></textarea></p>
     <p>Price: <input type="text" name="price"></p>
    <p><input type="submit" name="add_product" value="Add Product"></p>
</form>